[DEFAULT]
threads = 1
identity_cutoff = 50.0
length_cutoff = 15
evalue_cutoff = 0.0001
hits_overlap_cutoff = 10
biscore_range_cutoff = 0.03
aligner_path = diamond
krona_path = ktImportXML
megahit_path = megahit
metaspades_path = metaspades.py
bowtie_indexer_path = bowtie2-build
bowtie_path = bowtie2
prodigal_path = prodigal
